/*---------------------------------------------------menu style
*/
.anim{
    opacity: 0;
    top: -15px;
}
.animtop{
    position: relative;
    animation: fadetop 2s;
}
@keyframes fadetop{
    from{
        opacity: 0;
        top: -20px;
    }
    to{
        opacity: 1;
        top: 0px;
    }
}
.anim-r{
    opacity: 0;
    right: -50px;
}
.animright{
    animation: faderight 2s;
}
@keyframes faderight{
    from{
        opacity: 0;
        right: -50px;
    }
    to{
        opacity: 1;
        right: 0px;
    }
}
.anim-l{
    opacity: 0;
    left: -50px;
}
.animleft{
    animation: fadeleft 2s;
}
@keyframes fadeleft{
    from{
        opacity: 0;
        left: -50px;
    }
    to{
        opacity: 1;
        left: 0px;
    }
}

nav{
    width: 100%;
    background: rgba(0 ,0 ,0 ,0.7);
    position: fixed;
    z-index: 9999;
}
.logo{
    padding-left: 20px;
    margin-left: 25px;
    color: white;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
}
a:hover , a:visited , a:focus {
    color: white;
    text-decoration: none;
    outline: none;
}
.btn-collapse{
    float: right;
    padding: 0 8px 4px 8px;
    color: #e5e5e5;
    border-radius: 5px;
    background: black;
    margin: 4.4px 5px;
    font-size: 25px;
    transition: all .2s;
    text-decoration: none;
}
.btn-collapse:hover,.btn-collapse:focus,.btn-collapse:visited{
    text-decoration: none;
    outline: none;
}
.btn-collapse:hover{
    color: #4c4c4c;
    text-decoration: none;
}
@media screen and (min-width: 825px){
    #main-menu li.has-child:hover:before{
        opacity: 0;
    }
    #main-menu > li.has-child:before{
        content: "";
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        border-top: 3px solid white;
        position: absolute;
        top: 14px;
        left: -3px;
    }
    #main-menu li ul li.has-child:before{
        content: "";
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid white;
        position: absolute;
        top: 21px;
        right: 5px;
    }
    .btn-collapse{
        display: none;
    }
    nav{
        margin: 0px;
        height: 45px;
    }
    #main-menu{
        float: right;
        padding: 8px 25% 8px 0px;
    }
    #main-menu >li{
        line-height: 28px;
        position: relative;
        list-style: none;
        margin-right: 8px;
        float: left;
        display: inline-block;
    }
    #main-menu li a{
        font-size: 15px;
        color: #e5e5e5;
        padding: 7px;
        text-decoration: none;
        border-radius: 5px;
        transition: all .2s;
    }
    #main-menu li a:hover{
        background: #e5e5e5;
        color: rgba(0 ,0 ,0 ,0.7);
    }
    #main-menu li ul{
        width: 160px;
        position: absolute;
        left: 0px;
        top: 45px;
        background: #F4511E;
        padding: 0px;
        opacity: 0px;
        visibility: hidden;
        transition: all .2s;
    }
    #main-menu li:hover > ul{
        opacity: 1;
        visibility: visible;
    }
    #main-menu li ul li{
        list-style: none;
        position: relative;
    }
    #main-menu li ul li ul{
        position: absolute;
        top: 0px;
        left: 170px;
        visibility: hidden;
        opacity: 0;
        transition: all .2s;
    }
    #main-menu li ul li:hover ul{
        visibility: visible;
        opacity: 1;
    }
    #main-menu li ul li ul:before{
        content: "";
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #F4511E;
        position: absolute;
        left: -16px;
        top: 8px;

    }
    #main-menu li ul li > a{
        display: block;
        padding: 10px;
        border-radius: 0px;
    }
    #main-menu li ul:before{
        content: "";
        width: 0px;
        height: 0px;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-bottom: 8px solid #F4511E;
        position: absolute;
        top: -8px;
        left: 8px;
    }
    li.active a{
        background: #e5e5e5;
        color: rgba(0, 0, 0, .8) !important;
    }
}
@media screen and (max-width: 825px){
    li.has-child:before{
        content: "";
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid white;
        position: relative;
        top: 15px;
        left: -5px;
        float: left;
    }
    li.has-child:hover:before{
        opacity: 0;
    }
    .btn-collapse{
        display: block;
    }
    nav{
        background: rgba(0 ,0 ,0 ,0.7);
        overflow: hidden;
    }
    #main-menu{
        padding: 8px;
    }
    #main-menu li{
        width: 90%;
        list-style: none;
        float: none;
    }
    #main-menu li a{
        display: block;
        font-size: 15px;
        color: #e5e5e5;
        padding: 7px;
        text-decoration: none;
        border-radius: 5px;
        transition: all .2s;
    }
    #main-menu li a:hover{
        padding-left: 10px;
        background: #e5e5e5;
        color: rgba(0 ,0 ,0 ,0.7);
    }
    #main-menu li ul{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #main-menu li:hover > ul{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    #main-menu li ul{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    #main-menu li ul li.has-child{
        position: relative;
    }
    #main-menu ul li:hover ul{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    #main-menu{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
    ul#main-menu.active{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    li.active a{
        background: #e5e5e5;
        color: #F4511E !important;
    }
}
/*--------------------------------------------------------------carousel
*/
#carousel .carousel-control{
    z-index: 9;
}
#carousel .carousel-indicators li{
    width: 12px;
    height: 12px;
    border: 2px solid white;
}
#carousel .carousel-inner img{
    filter: grayscale(70%);
}
@media screen and (min-width: 825px){
    #carousel .carousel-inner , #mycarousel ,.item {
        width: 100%;
        height: 0;
        padding-bottom: 45%;
        display: block;
    }
    #carousel .carousel-inner img{
        width: 100%;
    }

}
@media screen and (max-width: 825px) {
    #carousel .carousel-inner , #mycarousel ,.item {
        width: 100%;
        height: 0;
        padding-bottom: 55%;
        display: block;
    }
    #carousel .carousel-inner img{
        width: 100%;
    }
}
/*--------------------------------------------------------------team
*/
#team{
    padding: 80px 0px;
}
#team img{
    opacity: 0.8;
    width: 200px;
    height: 200px;
    border: 5px solid #D5D5D5;
    border-radius: 50%;
}
#team h3::first-letter{
    text-transform: uppercase;
}
#team h3{
    padding: 15px 0px;
    color: #1C1C1C;
}
#team p{
    color: #757575;
    text-align: justify;
    line-height: 21px;
}
/*--------------------------------------------------------------team
*/
#tour{
    padding: 80px 0px;
    background: #2D2D30;
}
#tour h2{
    color: #D5D5D5;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    padding-bottom: 40px;
}
.list-group-item{
    border-radius: 0px !important;
    font-size: 15px;
    color: #828282;
}
.thumbnail{
    padding: 0px 0px 15px 0px;
    border: none;
    border-radius: 0px;
}
.thumbnail img{
    width: 100%;
}
p.location{
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 5px 0px;
    color: #2D2D30;
}
p.date{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #555;
    padding: 10px 0px;
}
.btn-buy{
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 0px;
    border: 1px solid #2D2D30;
    background: #2D2D30;
    color: white;
    margin: 15px 0px;
    transition: all .3s;
}
.btn-buy:hover{
    background: white;
    color: #2D2D30;
}
/*====================modal
*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header{
    background: #2D2D30;
    color: white;
    padding: 40px 0px;
    text-align: center;
}

.modal-body button[type="submit"]{
    background: #2D2D30;
    color: white;
    padding: 7px 0px;
    font-weight: bold;
}
/*--------------------------------------------------------------contact
*/
#contact{
    padding: 60px 30px;

}
#contact .container{
    padding: 0px 80px;
}
#contact h1{
    text-align: center;
    padding: 20px 0px;
}
#contact p{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 23px;
}
#contact p:first-child{
    font-size: 17px;
}
/*--------------------------------------------------------------blog
*/
#blog{
    background: #2D2D30;
    padding: 50px 0px;
    width: 100%;
    overflow: hidden;

}
#blog .container{
    color: white;
    /*font-size: 20px;*/
}
#blog .carousel-indicators{
    top: 100%;
}
#blog .carousel-control{
    display: none;
}
#blog .carousel-indicators li{
    width: 12px;
    height: 12px;
    border: 2px solid white;
}
#blog-carousel .row{
    margin: auto;
}
#blog p , #blog h3{
    color: white;
}
#blog h3 span{
    font-size: 40px;
    padding: 0 12px 5px 12px;
    top: 0;
    background: yellow;

}
#blog h3{
    border-top: 3px solid yellow;

}


/*--------------------------------------------------------------footer
*/
footer{
    padding: 50px 0px;
    text-align: center;
    background: rgba(0 , 0 , 0 , 0.85);
    color: white;
}
